body {margin:25px;}

body {
        background-image: url(imagens/background_theme.jpg);
        background-size: 70%;
        background-attachment: fixed;
        height: auto;
    }
    
h1 {
        font-variant-position
        text-align: center;
        font-family: cursive;
        background-color: whitesmoke;
        padding: 2px 2px;
        opacity: 0.5;
        border: 1px solid;
        border-color: black;
    }   
    
dic.row {
        margin: auto;
    }
        
div.polaroid {
        width: 40%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

div.container {
        text-align: center;
        padding: 1px 20px;1
        line-height: 10px;
    }