html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-variant-position: '';
    text-align: center;
    font-family: cursive;
    background-color: whitesmoke;
    padding: 2px 2px;
    opacity: 0.5;
    border: 1px solid;
    border-color: #ffffff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

/* Flex */
.flex {
    display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.wrapper-card {
    flex-shrink: 0;
    flex: 190px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
}

.image {
    flex: 2;
}

.image img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.description {
    width: auto;
    margin: 5px;
    flex: 4;
    padding: 20px;
    text-align: center;
    background-color: rgb(133, 133, 133);
    border-radius: 0 0 5px 5px;
}